:root {
  --teal: #67807aff;
  --blue: #202041ff;
  --black: #000000ff;
  --white: #ddddddff;
  --yellow: #fdb035ff;
  --half: 8px;
  --one: 16px;
  --onehalf: 24px;
  --two: 32px;
  --three: 48px;
  --four: 64px;
}

.input {
  height: 30px;
}

.textarea {
  width: 300px;
  height: 100;
  resize: none;
}

.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}

.list-item {
  display: list-item;
}

.teleport-show {
  display: flex !important;
}

.nav-link {
  margin-left: var(--one);
  margin-right: var(--one);
  text-decoration: none;
  text-transform: capitalize;
  font-size: .9rem;
}

.nav-link:hover {
  color: rgb(192, 118, 0);
}

.nav-link-underline {
  text-decoration: underline;
  text-underline-offset: 2px;
  ;
}

.links {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
}

.amithpolineni {
  font-style: normal;
  font-weight: 400;
  margin-left: var(--one);
  margin-right: var(--one);
}

.face {
  width: 50px;
  object-fit: cover;
  margin-left: var(--one);
  margin-right: var(--one);
  border-radius: 50%;
}

.logo {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  display: flex;
  z-index: 3;
  position: fixed;
  align-items: center;
  padding-top: 3px;
  padding-left: var(--two);
  padding-right: var(--two);
  padding-bottom: 3px;
  justify-content: space-between;
  background-color: var(--white)
}

.page-tittle {
  color: var(--white);
  font-size: 3em;
  font-style: normal;
  font-weight: 700;
  padding-left: var(--two);
  padding-right: var(--two);
  background-color: var(--blue);
}

.memoryImage {
  width: 100%;
  border-width: 7px;
  border-color: var(--blue);
  aspect-ratio: 1/1;
  object-fit: cover;
}

.passion {
  flex: 0 0 auto;
  height: auto;
  display: flex;
  padding: 4px;
  position: relative;
  /* box-shadow: 5px 5px 0px 0px var(--yellow); */
  border-radius: 20px;
  align-items: center;
  flex-direction: column;
  background-color: var(--yellow);
}

.passion-name {
  top: var(--one);
  color: var(--black);
  position: absolute;
  font-style: normal;
  font-weight: 700;
  padding-left: var(--one);
  padding-right: var(--one);
  background-color: var(--white);
}

.pasison-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.pasison-txt {
  width: 100%;
  padding: 12px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--white);
  height: 200px;
}

.club {
  flex: 0 0 auto;
  height: 400px;
  width: 90vw;
  max-width: 1200px;
  display: flex;
  position: relative;
  /* border-color: var(--white); */
  /* border-width: 7px; */
  /* border-radius: 30px; */
  /* flex-direction: column; */
  /* justify-content: flex-start; */
  /* background-color: var(--yellow); */
}

.club-name {
  position: absolute;
  color: var(--white);
  text-align: center;
  padding-top: 3px;
  padding-left: var(--one);
  border-radius: 15px;
  padding-right: var(--one);
  padding-bottom: 3px;
  background-color: var(--blue);
  font-size: 50px;
  z-index: 2;
}

.club-img {
  position: absolute;
  right: -20px;
  width: 450px;
  height: 300px;
  object-fit: cover;
  border-radius: 0px;
  transform: rotate(10deg);
  /* animation-duration: 6s;
  animation-name: rotate;
  animation-iteration-count: infinite; */
  border: 3px;
  border-color: var(--yellow);
}

@keyframes rotate {
  from {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(15deg);
  }

  to {
    transform: rotate(5deg);
  }
}

.club-img2 {
  position: absolute;
  left: -20px;
  top: 120px;
  width: 400px;
  height: 200px;
  object-fit: cover;
  border-radius: 0px;
  transform: rotate(-7deg);
  /* animation-duration: 4s;
  animation-name: rotate2;
  animation-iteration-count: infinite; */
}

@keyframes rotate2 {
  from {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(-12deg);
  }

  to {
    transform: rotate(-5deg);
  }
}

.club-icon {
  position: absolute;
  top: -20%;
  left: 40%;
  width: 250px;
  opacity: 70%;
  animation-duration: 4s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  z-index: -1;
  filter: grayscale(50%);
}

.club-icon2 {
  position: absolute;
  bottom: -5%;
  left: 20%;
  width: 250px;
  opacity: 70%;
  animation-duration: 3s;
  animation-name: rotate2;
  animation-iteration-count: infinite;
  z-index: -1;
  filter: grayscale(50%);
}

.club-desc {
  color: var(--black);
  padding: var(--one);
  border-radius: 0px;
  background-color: var(--white);
  border-radius: 20px;
  position: absolute;
  font-size: 18px;
  left: 33%;
  bottom: 100px;
  width: 350px;
  height: 200px;
}

.club-link {
  position: absolute;
  bottom: 50px;
  left: 45%;
  display: flex;
  align-items: center;
}

.club-link-txt {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: var(--half);
  padding-right: var(--half);
  border-radius: 10px 0px 0px 10px;
  letter-spacing: 0.5px;
  font-size: 20px;
  text-decoration: none;
  background-color: var(--yellow);
  z-index: 2;
}

.club-link-arrow {
  width: 23px;
  height: 23px;
  transform: rotate(45deg);
  background-color: var(--yellow);
  margin-left: -11px;
  border-radius: 0 3px 0 0;
}

.stat {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
}

.stat-num {
  color: var(--yellow);
  height: 60px;
  font-size: 3em;
  min-width: 60px;
  text-align: center;
  padding-top: 3px;
  padding-left: var(--one);
  border-radius: 50px;
  padding-right: var(--one);
  padding-bottom: 3px;
  background-color: var(--black);
}

.stat-name {
  font-size: 1.75em;
  margin-top: var(--half);
  text-align: center;
}

.stat-desc {
  color: var(--black);
  font-size: 0.9rem;
  margin-top: var(--half);
  text-align: center;
}

.social-icon {
  fill: var(--blue);
  width: 32px;
  height: 32px;
  transition: 0.3s;
  margin-left: var(--half);
  margin-right: var(--half);
  text-decoration: none;
}

.social-icon:hover {
  fill: var(--yellow);
}

.social-icon2 {
  fill: var(--blue);
  width: 50px;
  height: 50px;
  transition: 0.3s;
  margin-left: var(--half);
  margin-right: var(--half);
  text-decoration: none;
}

.social-icon2:hover {
  fill: var(--yellow);
}

.social\.-icon {
  width: 32px;
  height: 32px;
  margin-left: var(--half);
  margin-right: var(--half);
}

.comment {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--one);
  align-items: center;
  border-color: var(--yellow);
  border-style: ridge;
  border-width: 7px;
  border-radius: 20px;
  flex-direction: column;
  background-color: var(--white);
}

.comment-name {
  color: var(--black);
  text-align: center;
  padding-top: 3px;
  padding-left: var(--half);
  margin-bottom: var(--one);
  padding-right: var(--half);
  padding-bottom: 3px;
  font-size: 1.3rem;
  font-weight: 700;
}

.comment-desc {
  font-size: 1rem;
}

.comments {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: grid;
  grid-gap: var(--two);
  padding-top: var(--three);
  padding-bottom: var(--three);
  grid-template-columns: 1fr 1fr 1fr;
}

.reviewInstructions {
  color: var(--white);
  font-size: 1.25rem;
  margin-top: var(--onehalf);
  margin-bottom: var(--half);
}

.reviewInput {
  color: var(--white);
}

.reviewButtonContainer {
  background-color: var(--blue);
  color:var(--white);
  margin-top: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 50px;
}

.footerSocials {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--half);
}

.footerContact {
  flex: 0 0 auto;
  display: flex;
  margin-top: var(--one);
  align-items: center;
  margin-bottom: var(--one);
  flex-direction: column;
  justify-content: center;
}

.footerImg {
  width: 75px;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.footerEmail {
  text-decoration: none;
}

.footer {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--three);
  padding-right: var(--three);
  justify-content: space-between;
  background-color: var(--white);
}

.content {
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

.heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

@media(max-width: 991px) {
  .stat-num {
    text-align: center;
  }

  .club {
    height: 850px
  }

  .club-img {
    top: 70px;
    right: -10px;
  }

  .club-img2 {
    top: 650px;
    left: -10px;
  }

  .club-icon {
    top: 80px;
    left: 0;
    animation-name: rotate2;
  }

  .club-icon2 {
    left: 60%;
    animation-name: rotate;
  }

  .club-desc {
    width: 70%;
    left: 17%;
    bottom: 300px
  }

  .club-link {
    bottom: 250px;
  }
}

@media(max-width: 767px) {
  .nav {
    padding-left: 0px;
    padding-right: 0px;
  }

  .passion {
    width: 75%;
  }

  .stat-name {
    text-align: center;
  }

  .comment {
    align-self: center;
  }

  .comments {
    grid-template-columns: 1fr 1fr;
  }

  .footerSocials {
    margin-bottom: var(--half);
  }

  .footer {
    padding-left: 4px;
    padding-right: 4px;
  }
}

@media(max-width: 479px) {
  .logo {
    margin-bottom: var(--one);
    flex-direction: column;
  }

  .nav {
    position: relative;
    padding-top: var(--half);
    flex-direction: column;
    padding-bottom: var(--half);
  }

  .page-tittle {
    text-align: center;
  }

  .passion {
    width: 90%;
  }

  .club {
    height: 800px
  }


  .club-img {
    right: -30px;
    transform: rotate(0);
  }

  .club-img2 {
    transform: rotate(0);
    top: 615px;
  }

  .club-icon {
    top: 400px;
    left: -100px;
  }

  .club-icon2 {
    bottom: 130px;
  }

  .club-desc {
    width: 90%;
    left: 5%;
  }

  .club-link {
    left: 10%;
  }

  .comments {
    grid-template-columns: 1fr;
  }

  .footerCredit {
    margin-top: var(--one);
    margin-bottom: var(--one);
  }

  .footerImg {
    width: 75px;
  }

  .footer {
    padding-top: var(--half);
    flex-direction: column;
  }
}